/* paleta de prueba */
:root{
    --color1:#E5EDF1 ;
    --color2: #2A2922;
    --color3: #FFFFFF;
    --color4: #96C2DB;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 25px;
}



/* HEADER: LOGOTIPO, BOTONES DE INGRESO/REGISTRO Y BARRA DE NAVEGACIÓN */

header {
    display: flex;
    flex-direction: column;
    background-color: #19465f;
    align-items: center;
    padding-bottom: 15px;
}

#logotipo-sesion {
    display: flex;
    justify-content: flex-end;
    column-gap: 276px;
    width: 60%;
}

/* Logotipo */

#logotipo {
    width: 192px;
    height: 66px;
}

/* Botones de ingreso/registro */

#sesion {
    padding-top: 18px;
}

#iniciar-sesion {
    color: #fff;
    background-color: var(--color4);
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 3px;
    font-size: 15px;
}

#iniciar-sesion:hover {
    background-color: var(--color1);
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s;
}

#registrarse {
    color: #ff7922;
    background-color: var(--color1);
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

#registrarse:hover {
    background-color: var(--color4);
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s;
}

/* Barra de navegación */



#barra-navegacion {
    display: flex;
    column-gap: 45px;
    list-style: none;
    padding: 0px;
}

.barra-navegacion-opciones a {
    color: var(--color1);
    font-weight: bold;
    text-decoration: none;
    padding: 15px 20px;
}

.barra-navegacion-opciones a:hover {
    background-color: var(--color4);
    border-radius: 30px;
}




/* FOOTER: LÍNEA Y TEXTO DEL FOOTER */

footer {
    display: flex;
    flex-direction: column;
    background-color: #f3f1ef;
    align-items: center;
}

/* Línea del footer */

#linea-footer {
    width: 45%;
}

#linea-footer hr {
    border: 1px solid #eee7e7;
}

/* Texto del footer */

#texto-footer {
    display: flex;
    flex-direction: column;
}

#texto-footer p {
    color: #5a5a5a;
    font-size: smaller;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 8px;
}
