* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 100px;
    margin: 10px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-and-ticket {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-container,
.ticket-container {
    width: 48%;
}

.ticket-container {
    position: relative;
    top: 100px;
}

.credit-card {
    position: relative;
    top: 20px; 
    margin-bottom: 20px ;
}



.card, .ticket-card, .credit-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}

.card h2, .ticket-card h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.ticket-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.ticket-item span {
    font-size: 18px;
    font-weight: bold;
}

.ticket-item span:last-child {
    font-weight: normal;
    color: #007BFF;
}

/* Estilos para la sección de pago */
#payment-form {
    margin-top: 30px;
}

#payment-form .input-group {
    margin-bottom: 20px;
}

#payment-form input {
    font-size: 16px;
}

#payment-form input[type="text"] {
    letter-spacing: 2px;
}

#payment-form input[type="month"] {
    padding: 8px;
}
