:root{
    --color1:#E5EDF1 ;
    --color2: #2A2922;
    --color3: #FFFFFF;
    --color4: #96C2DB;
}

/* estilo tarjeta de habitacion */

.titulo{
    color: #522305;
    font-family:'montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

.contenedor1{
    background-color: #eee;
    box-shadow: 1px 1px 6px #000;
    width: auto;
    height: auto;
    margin: 15px 10vw;
    padding-top: 5px;
}

.sub-contenedor11{
    margin-left: 30%;
    margin-right: 30%;
}

/* Estilo calificacion */

.cajaRating{
    width: 15%;
    height: 5%;
    margin-top: 80px;
}

.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
}

.rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
}


/* estilo de carrusel imagenes */

.sub-contenedor12{
    background-color: transparent;
    width: 100%;
    height: 80%;
    display: flex;
    margin-top: 10px;
}

.caja1{
    width: 50%;
    margin: 0 5%;
}

.caja2{
    width: 50%;
    height: 100%;
}

.contenedorImg{
    position: relative;
    width: 100%;
    margin: 0 auto;

}

.deslizador{
    display: flex;
    aspect-ratio: 14 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
}

.deslizador::-webkit-scrollbar{
    display: none;
}

.deslizador img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

}

.deslizadorNav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

}

.deslizadorNav a{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;

}

.deslizadorNav a:hover{
    opacity: 1;
}

/* estilo info de la habitacion */

.info{
    background-color: transparent;
    text-align: center;
    color: #522305;
    font-size: 25px;
    border-top: 1px #522305 solid;
    text-align: left;
    margin-left: 15%;
    margin-right: 25%;
    font-family:'montserrat', sans-serif;
}

/* estilo reserva */

.tituloRes{
    font-family: 'montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
}

.filter-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 85%;
    padding: 20px 20px 20px 20px;
    border-radius: 50px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--color4);
    margin-bottom: 10%;
    margin-right:10%;
    
}

input[type="date"] {
    padding: 0.625rem 1rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--color2);
    background-color: var(--color3);
    border: none;
    border-radius: 0.5rem;
    outline: none;
    width: 29%;
    border-width:1px ;
    border-style:solid ;
    border-color:light-dark(rgb(118, 118, 118));
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

input[type="date"]:focus {
    border-color: var(--color3);
}

.filter-button {
    padding: 0.625rem 1rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--color2);
    background-color: var(--color3);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.filter-button:hover {
    color:var(--color1);
    background-color: #19465f;
}


/* estilo otras habitaciones */

#hotel{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.titulo2{
    font-size: 30px;
    text-align: center;
    background-color: transparent;
    width: 40%;
    margin: 0 30%;
    color: #522305;
    letter-spacing: 1px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: bold;
    font-family:'montserrat', sans-serif;
}

.contenedor2{
    background-color: #eee;
    box-shadow: 1px 1px 6px #000;
    width: 80vw;
    margin: 70px 10vw;
    padding-top: 5px;

}

.otrasHab{
    width: 90%;
    height: 20%;
    margin: 1% 5%;
}

#grilla{
    background-color: #96C2DB;
    border-radius: 0.5rem;
    margin: 1rem 0;
    width: 75%;
    height: 200px;
    display: flex;
    box-shadow: #000 1px 1px 6px;
}

.grillaImg{
    height: 100%;
    max-width: 40%;
    margin-right: 5%;
}

/* boton y texto otras habitaciones */

.texto-habitacion{
    color: #522305;
    font-family:'montserrat', sans-serif;
}

.texto-habitacion a{
    margin-bottom: 5px;
}

.boton-habitacion {
    padding: 0.625rem 1rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #522305;
    background-color: var(--color1);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s;
}

.boton-habitacion:hover {
    color:var(--color1);
    background-color: #19465f;
    font-size: 20px;
    transition: 0.2s;
}

/* estilo otras habitaciones */

#hotel{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.titulo2{
    font-size: 30px;
    text-align: center;
    background-color: transparent;
    width: 40%;
    margin: 0 30%;
    color: #522305;
    letter-spacing: 1px;
    font-family:'montserrat', sans-serif;
}

.contenedor2{
    background-color: #eee;
    box-shadow: 1px 1px 6px #000;
    width: 80vw;
    margin: 15px 10vw;
    padding-top: 5px;

}

.otrasHab{
    width: 90%;
    height: 20%;
    margin: 1% 5%;
}
