/* paleta de prueba */
:root{
    --color1:#E5EDF1 ;
    --color2: #2A2922;
    --color3: #FFFFFF;
    --color4: #96C2DB;
}

.info{
    background-color: var(--color4);
    align-items: center;
    font-family:'montserrat', sans-serif;
    
}

#view-more{
    color:var(--color3);
}

body {
    font-family:'montserrat', sans-serif;;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
    
}
/* Filtros */
.filtros {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.filter-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 95%;
    padding: 20px 20px 20px 20px;
    border-radius: 50px;
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--color1);
}

.dropdown-container {
    position: relative;
    width: 256px;
    background-color: #f8fafc;
    border-radius: 0.5rem;
    overflow: hidden;
}

.custom-select {
    width: 100%;
    flex:1;
    padding: 0.625rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--color2);
    background-color: white;
    
    border-radius: 0.5rem;
    outline: none;
    appearance: none;
}

.custom-select:focus {
    border-color: var(--color3);
}


.dropdown-container:hover .icon {
    transform: rotate(0deg);
}

.dropdown-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    background-color: #69a4cc;
    border-radius: 50%;
    filter: blur(10px);
    box-shadow: -60px 20px 10px 10px #69a4cc;
}

input[type="date"] {
    padding: 0.625rem 1rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--color2);
    background-color: var(--color3);
    border: none;
    border-radius: 0.5rem;
    outline: none;
    width: 29%;
    border-width:1px ;
    border-style:solid ;
    border-color:light-dark(rgb(118, 118, 118));
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

input[type="date"]:focus {
    border-color: var(--color3);
}

.filter-button {
    padding: 0.625rem 1rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--color2);
    background-color: var(--color3);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.filter-button:hover {
    color:var(--color3);
    background-color: var(--color4);
}


/* Hoteles */

.hotel {
    margin: 40px;
    background-color: #e6e6e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: stretch;
    max-height: 350px; 
}

.hotel-image {
    flex: 0 0 350px; 
}

.hotel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.hotel-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px;
    padding-left: 40px;
}

.hotel-info h2 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom:20px;
    
}

.hotel-info p {
    font-size: 20px;
    margin-bottom: 30px;
}

.viewmore-button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: var(--color2);
    background-color: var(--color4);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: auto;  
}

.viewmore-button:hover {
    background-color: #19465f;
    box-shadow: 0px 15px 20px rgb(8, 102, 139);
    color: #fff;
    transform: translateY(-7px);
}

.viewmore-button:active {
    transform: translateY(-1px);
}

#linea-separacion {
    margin:0px;
    border: 0;
    height: 2px;
    background: rgb(8, 102, 139);
    background-image: linear-gradient(to right, var(--color4), rgb(8,102,139), var(--color4));
}