.filtros {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.filter-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%; /* Ajusta el ancho del formulario para hacerlo más alargado */
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}
.dropdown-container {
    position: relative;
    width: 256px;
    background-color: #f8fafc;
    border-radius: 0.5rem;
    overflow: hidden;
}
.custom-select {
    width: 100%;
    flex:1;
    padding: 0.625rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #69a4cc;
    background-color: white;
    border: 1px solid #69a4cc;
    border-radius: 0.5rem;
    outline: none;
    appearance: none;
}
.custom-select:focus {
    border-color: #69a4cc;
}
.dropdown-container:hover .icon {
    transform: rotate(0deg);
}
.dropdown-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    background-color: #69a4cc;
    border-radius: 50%;
    filter: blur(10px);
    box-shadow: -60px 20px 10px 10px #69a4cc;
}
.filter-button {
    padding: 0.625rem 1rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #69a4cc;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.filter-button:hover {
    background-color: #ff7922;
}

#hotel{
    display: grid;
    background-color: #96C2DB;
    grid-template-columns: repeat(3, 1fr); /* Esto crea 4 columnas de igual tamaño */
    padding: 20px;
}
#grilla{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.texto-habitacion{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 7px 7px 3.5px 3.5px grey;
}
.imagen-habitacion{
    width: 200px;
    height: 200px;
}
.boton-habitacion{
    border-color: black;
    background-color: #522305;
    border-radius: 10px;
    width: 50px;
    height: 30px;
}
    background-color: midnightblue;
    border-radius: 10px;
    width: 50px;
    height: 30px;
}
