.filtros {
    background-color: #96C2DB;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.filter-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 95%;
    padding: 20px 20px 20px 20px;
    border-radius: 50px;
    box-shadow: 0 20px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--color1);
}

.dropdown-container {
    position: relative;
    width: 256px;
    background-color: #f8fafc;
    border-radius: 0.5rem;
    overflow: hidden;
}

.custom-select {
    width: 100%;
    flex:1;
    padding: 0.625rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--color2);
    background-color: white;
    
    border-radius: 0.5rem;
    outline: none;
    appearance: none;
}

.custom-select:focus {
    border-color: var(--color3);
}


.dropdown-container:hover .icon {
    transform: rotate(0deg);
}

.dropdown-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    background-color: #69a4cc;
    border-radius: 50%;
    filter: blur(10px);
    box-shadow: -60px 20px 10px 10px #69a4cc;
}

.filter-button {
    padding: 0.625rem 1rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--color2);
    background-color: var(--color3);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.filter-button:hover {
    color:var(--color3);
    background-color: var(--color4);
}


#hotel {
    display: grid;
    background-color: #96C2DB;
    grid-template-columns: repeat(3, 1fr); /* Esto crea 4 columnas de igual tamaño */
    padding: 20px;
}
#grilla {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.texto-habitacion:hover {
    transform: scale(0.9);
}
.texto-habitacion span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.texto-habitacion span::before {
    width: 150%;
    height: 40px;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.texto-habitacion span::after {
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: -1;
}
.texto-habitacion{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 7px 7px 3.5px 3.5px grey;
}
.imagen-habitacion{
    width: 200px;
    height: 200px;
}
