:root {
    --color1: #E5EDF1; /* Celeste claro */
    --color2: #2A2922; /* Color oscuro */
    --color3: #FFFFFF; /* Blanco */
    --color4: #96C2DB; /* Azul claro */
  }
  
  body {
    background-color: var(--color1); /* Fondo celeste claro */
    color: #19465f;
    font-family: 'montserrat', sans-serif;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  a {
    color: var(--color4); /* Enlaces azul claro */
    text-decoration: none;
  }
  
  a:hover {
    color: var(--color2); /* Enlaces hover color oscuro */
  }
  
  section {
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
