 {% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
{% endblock %}

{% block header %}

<header>
    <div id="contenedor-logotipo-botones-sesion">
        <div id="logotipo">
        <!-- <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/obelisco_blanco.png') }}"></a> -->
            <h1 class="titulo-error">404 ERROR</h1>
        </div>
    </div>
</header>
{% endblock %}

{% block body %}

<div id="redirigir-home">
    <a class="link" href="{{url_for('home')}}"> Toca para redireccionarte al Inicio</a>
</div>

<div class="container">
    <div class="grilla">
        <img src="{{url_for('static', filename='images/logotipoERROR.png')}}" class="imagen-404" alt="error 404">
        <h2 class="mensaje-h2">--- Error 404 --- <br> Ha ocurrido un error</h2>
    </div>
</div>
    
{% endblock %}

