<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Hotels.com | Sitio oficial</title>
    {% endblock %}
    <link rel="icon" href="{{ url_for('static', filename='images/icono.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div id="logotipo-sesion">
            <a href="{{ url_for('home') }}"><img id="logotipo" src="{{ url_for('static', filename='images/logotipo.png') }}"></a>
            <div id="sesion">
                <button id="iniciar-sesion"><a href="{{ url_for('login') }}">Iniciar sesión</a></button>
                <button id="registrarse"><a href="{{ url_for('register') }}">Registrarse</a></button>
            </div>
        </div>
        <nav>
            <ul id="barra-navegacion">
                <li class="barra-navegacion-opciones"><a href="https://www.fi.uba.ar">Página2</a></li>
                <li class="barra-navegacion-opciones"><a href="https://www.fi.uba.ar">Página3</a></li>
                <li class="barra-navegacion-opciones"><a href="https://www.fi.uba.ar">Página4</a></li>
                <li class="barra-navegacion-opciones"><a href="https://www.fi.uba.ar">Página5</a></li>
                <li class="barra-navegacion-opciones"><a href="https://www.fi.uba.ar">Página6</a></li>
                <li class="barra-navegacion-opciones"><a href="https://www.fi.uba.ar">Página7</a></li>
            </ul>
        </nav>
    </header>

    <!-- Modal Login -->

    <button id="boton-abrir-modal-login">Abrir modal login</button>
    <dialog id="contenedor-modal-login">
        <div id="modal-login">
            <div id="titulo-boton-cerrar-modal-login">
                <h2>Iniciar sesión</h2>
                <button id="boton-cerrar-modal-login">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                    </div>
                </button>
            </div>
            <form>
                <label>Correo electrónico</label>
                <input type="email">
                <label>Contraseña</label>
                <input type="password">
                <button id="boton-login" type="submit">Iniciar sesión</button>
            </form>
            <div id="sin-cuenta-modal-login">
                <p>
                    ¿No tienes una cuenta? <span id="texto-register-modal-login">Registrarse</span>
                </p>
            </div>
        </div>
    </dialog>

    <!-- Modal Register -->

    <button id="boton-abrir-modal-register">Abrir modal register</button>
    <dialog id="contenedor-modal-register">
        <div id="modal-register">
            <div id="titulo-boton-cerrar-modal-register">
                <h2>Registrarse</h2>
                <button id="boton-cerrar-modal-register">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z">
                        </svg>
                    </div>
                </button>
            </div>
            <form>
                <label>Nombre</label>
                <input type="text">
                <label>Correo electrónico</label>
                <input type="email">
                <label>Número telefónico</label>
                <input type="number">
                <label>Contraseña</label>
                <input type="password">
                <label>Repetir contraseña</label>
                <input type="password">
                <button id="boton-register" type="submit">Registrarse</button>
            </form>
            <div id="terminos-avisos">
                <p>
                    Al hacer clic en Registrarse, aceptas nuestros Términos de servicio y Avisos de privacidad.
                </p>
            </div>
            <div id="con-cuenta-modal-register">
                <p>
                    ¿Ya tienes una cuenta? <span id="texto-login-modal-register">Inicia sesión</span>
                </p>
            </div>
        </div>
    </dialog>

    {% block body %}{% endblock %}

    <footer>
        <div id="linea-footer">
            <hr>
        </div>
        <div id="texto-footer">
            <p>
                Trabajo Práctico de IDS.
            </p>
            <p>
                Not Found 404 - Grupo 17, 2024.
            </p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>