{% extends 'base.html' %}

{% block title %}
    <title>Reserva del Hotel</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/compra.css') }}"> 
{% endblock %}

{% block body %}

<div class="container">
    <h1>Reserva de Hotel</h1>
    
    <div class="form-and-card">
        <!-- Primera fila de formularios -->
        <div class="form-container">
            <div class="card">
                <h2>Info del Comprador</h2>
                <form id="buyer-info-form" action=# method="POST">
                    <div class="input-group">
                        <label for="first-name">Nombre:</label>
                        <input type="text" id="first-name" name="first-name" required>
                    </div>
                    <div class="input-group">
                        <label for="last-name">Apellido:</label>
                        <input type="text" id="last-name" name="last-name" required>
                    </div>
                    <div class="input-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="input-group">
                        <label for="phone">Teléfono:</label>
                        <input type="tel" id="phone" name="phone" required>
                    </div>

                    <button type="submit" name="form-submit" value="form-reserva">Reservar </button>
                </form>
            </div>
        </div>

        <!-- Segunda fila de formularios -->
        <div class="credit-card">
            <h2>Detalles de Pago</h2>
            <form id="payment-form" method="POST">
                <div class="input-group">
                    <label for="card-number">Número de tarjeta:</label>
                    <input type="text" id="card-number" name="card-number" placeholder="1234 5678 9012 3456" required>
                </div>
                <div class="input-group">
                    <label for="expiry-date">Fecha de vencimiento:</label>
                    <input type="month" id="expiry-date" name="expiry-date" required>
                </div>
                <div class="input-group">
                    <label for="cvv">Código de seguridad (CVV):</label>
                    <input type="text" id="cvv" name="cvv" placeholder="123" required>
                </div>
                <div class="input-group">
                    <label for="cardholder-name">Nombre del titular:</label>
                    <input type="text" id="cardholder-name" name="cardholder-name" required>
                </div>
                <button type="submit" name="form-submit" value="form-pago">Realizar Pago </button>
            </form>
        </div>
    </div>


    
         <!-- Ticket de Compra -->
         <div class="ticket-container">
            <div class="ticket-card">
                <h2>Ticket de Compra</h2>
            <div class="ticket-item">
                <span>Subtotal:</span>
                <span id="subtotal">${{habitacion.precio}}</span>
            </div>
            <div class="ticket-item">
                <span>Impuesto (13%):</span>
                <span id="tax">${{ (habitacion.precio/100)*0.13}}</span>
            </div>
            <div class="ticket-item">
                <span>Total:</span>
                <span id="total">$ {{ (habitacion.precio + (habitacion.precio/100)*0.13) }}</span>
            </div>
        </div>   

    </div>

   

</div>

    


         
    <script src="{{url_for('static', filename='js/compra.js')}}"></script>

{% endblock %}