{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/contacto.css') }}">
{% endblock %}
{% block body %}
<div class="info">
    <div class="hoteliscoPresentacion">
        <div class="opaco">
            <img class="hoteliscoIMG" src="{{ url_for('static', filename='images/obelisco_blanco.png') }}">
        </div>
    </div>
<div id="contenedor-filtros">
    <div class="filtros">
        <form class="filter-form" method="GET">
            <input type="date" name="fecha_entrada" placeholder="Fecha de Entrada" min="{{ fecha_actual }}" required> 
            <input type="date" name="fecha_salida" placeholder="Fecha de Salida" min="{{ fecha_actual }}" required>
            <select class="custom-select" name="cantidad_personas">
                <option value="-">Cantidad de personas</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button type="submit" class="filter-button">Filtrar</button>    
        </form>
    </div>
</div>
<div class="hotels">
    {% for hotel in hoteles %}
        <div class="hotel">
            <div class="hotel-image">
                <img src='{{ url_for("static", filename="images/hoteles/"+ hotel.nombre + "/principal.jpg") }}' class="hotel-img">
            </div>
            <div class="hotel-info">
                <h2 class="hotel-name">{{ hotel.nombre }}</h2>
                <p class="hotel-location">{{ hotel.direccion }}, {{ hotel.barrio }}</p>
                <p class="hotel-description">{{ hotel.descripcion }}</p>
                <button class="viewmore-button" data-url="{{ url_for('hotel', hotel_id=hotel.hotel_id, fecha_entrada=fecha_entrada, fecha_salida=fecha_salida, cantidad_personas=cantidad_personas) }}">Ver más</button>
            </div>
        </div>
    {% endfor %}
</div>
</div>

<div id="contenedor-formulario-contacto">
    <div id="coloracion-fondo">
        <div id="cuerpo-formulario-contacto">
            <h2>Contacto</h2>
            <form action="https://formsubmit.co/4ef08a93011ac74398bc60f081efb117", method="post">
                <div id="datos-personales-formulario-contacto">
                    <label for="fc-nombre">Nombre</label>
                    <input id="fc-nombre" type="text" name="Nombre" required>
                    <label for="fc-email">Correo electrónico</label>
                    <input id="fc-email" type="email" name="Correo electrónico" required>
                    <label for="fc-telefono">Número telefónico</label>
                    <input id="fc-telefono" type="number" name="Número telefónico" required>
                    <label for="fc-motivo">Motivo</label>
                    <input id="fc-motivo" type="text" name="Motivo" required>
                </div>
                <div id="mensaje-boton-formulario-contacto">
                    <label for="fc-mensaje">Mensaje</label>
                    <textarea id="fc-mensaje" name="Mensaje" required></textarea>
                    <input type="hidden" name="_next" value="http://127.0.0.1:5001/">
                    <input type="hidden" name="_captcha" value="false">
                    <button id="boton-formulario-contacto" type="submit">ENVIAR</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/home.js') }}"></script>

{% endblock %}

