{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/hotel.css') }}">
{% endblock %}
{% block body %}

<div class="filtros">
    <form class="filter-form">
        <path
            d="M60.7,53.6,50,64.3m0,0L39.3,53.6M50,64.3V35.7m0,46.4A32.1,32.1,0,1,1,82.1,50,32.1,32.1,0,0,1,50,82.1Z"
            stroke-width="4"
            stroke-linejoin="round"
            stroke-linecap="round"
            fill="none"
            class="icon-path"
        ></path>
        
        <select class="custom-select">
            <option value="ubicaciones">fecha</option>
            {% for fecha in fechas %}
                <option value="{{ fecha }}">{{ fecha }}</option>
            {% endfor %}
        </select>
        <select class="custom-select">
            <option value="-">Cantidad de personas</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button type="submit" class="filter-button">Filtrar</button>    
    </form>
</div>

<div id="hotel"> <!-- Datos habitaciones del hotel seleccionado -->
    {% for num, dato in datos.items() %}
        <div id="grilla">
            <div class="texto-habitacion">
                <img src="{{url_for('static', filename='images/perro.jpg')}}" class="imagen-habitacion" alt="habitaciones">
                <h2 >{{dato["nombre"]}}</h2>
                <p >Capacidad: {{dato["capacidad"]}}</p>
                <p >Precio(por noche): {{dato["precio"]}}</p>
                <a href=""><button class="boton-habitacion">Ver</button></a>
            </div>
        </div>
    {% endfor %}  
</div>

{% endblock %}
