{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<div id="login-fondo">
    <div id="login-apartado-form">
        <h2>Iniciar sesión</h2>
        <form>
            <label>Correo electrónico</label>
            <input type="email">
            <label>Contraseña</label>
            <input type="password">
            <button id="login-boton" type="submit">Iniciar sesión</button>
        </form>
        <div id="login-sin-cuenta">
            <p>
                ¿No tienes una cuenta? <a href="{{ url_for('register') }}">Registrarse</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}