{% extends 'base.html' %}

{% block title %}
  <title>{{ usuario_datos.nombre }} {{ usuario_datos.apellido }} - Perfil</title>
{% endblock title %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
{% endblock head %}

{% block body %}
  <main class="contenedor-perfil-usuario">
    <header class="perfil-usuario__encabezado">
      <div class="perfil-usuario__avatar">
        <img class="perfil-usuario__avatar-img" src="{{ url_for('static', filename='images/foto-de-perfil.jpg') }}" alt="#">
      </div>

      <section class="perfil-usuario__etiqueta">
        <h1 class="perfil-usuario__nombre-completo">{{ usuario_datos.nombre }} {{ usuario_datos.apellido }}</h1>

        <div class="perfil-usuario__informacion">
          <div class="perfil-usuario__contactos">
            <button class="perfil-usuario__contacto">
              <img src="{{ url_for('static', filename='images/email-icono.svg') }}" alt="">
              <span class="perfil-usuario__email">{{ usuario_datos.email }}</span>
            </button>
            <button class="perfil-usuario__contacto">
              <img src="{{ url_for('static', filename='images/telefono-icono.svg') }}" alt="">
              <span class="perfil-usuario__telefono">{{ usuario_datos.telefono }}</span>
            </button>
          </div>
        </div>

        <button class="eliminar-cuenta-boton">Eliminar cuenta</button>
        <dialog id="contenedor-confirmar-eliminacion-modal">
          <div id="confirmar-eliminacion-modal">
              <h2>Confirmar eliminación</h2>
              <p>¿Estás seguro de que quieres eliminar la cuenta?</p>
              <p>Esta acción es irreversible.</p>

              <div class="modal-botones">
                <button id="cancelar-eliminacion-boton">Cancelar</button>
                  <form action="{{ url_for('eliminar_cuenta', usuario_id = usuario_id) }}" method="DELETE">
                      <button type="submit" class="confirmar-boton">Eliminar cuenta</button>
                  </form>
              </div>
          </div>
      </dialog>
      </section>
    </header>

    <div class="perfil-usuario__separador"></div>

    <section class="perfil-usuario__historial">
      <h2 class="perfil-usuario__historial-titulo">Historial de reservas</h2>

      {% if reservas_historial %}
      {% for reserva in reservas_historial %}
      <article class="perfil-usuario__historial-reserva-contenedor">
        <div class="perfil-usuario__historial-reserva-barra"></div>
        
        <div class="perfil-usuario__historial-reserva-contenido">
          <h3 class="perfil-usuario__historial-hotel">{{ reserva.hotel_nombre }}</h3>
          <section class="perfil-usuario__historial-datos-contenedor">
            <div class="perfil-usuario__historial-dato">
              <span class="perfil-usuario__historial-dato-titulo">Duración</span>
              <span class="perfil-usuario__historial-fecha">{{ reserva.fecha_entrada }} hasta {{ reserva.fecha_salida }}</span>
            </div>
            <div class="perfil-usuario__historial-dato">
              <span class="perfil-usuario__historial-dato-titulo">Habitación</span>
              <span class="perfil-usuario__historial-habitacion">{{ reserva.habitacion_nombre }}</span>
            </div>
            <div class="perfil-usuario__historial-dato">
              <span class="perfil-usuario__historial-dato-titulo">Servicios</span>
              <span class="perfil-usuario__historial-precio">{{ reserva.servicios_contratados }}</span>
            </div>
            <div class="perfil-usuario__historial-dato">
              <span class="perfil-usuario__historial-dato-titulo">ID de reserva</span>
              <span class="perfil-usuario__historial-precio">{{ reserva.reserva_id }}</span>
            </div>
          </section>
          <button class="eliminar-reserva-boton">Eliminar</button>
          <dialog id="contenedor-confirmar-eliminacion-modal-reserva">
          <div id="confirmar-eliminacion-modal-reserva">
              <h2>Confirmar eliminación</h2>
              <p>¿Estás seguro de que quieres eliminar la reserva?</p>
              <p>Esta acción es irreversible.</p>
              <div class="modal-botones">
                <button class="cancelar-eliminacion-boton-reserva">Cancelar</button>
                  <form action="{{ url_for('eliminar_reserva', reserva_id = reserva.reserva_id) }}" method="DELETE">
                      <button type="submit" class="confirmar-boton">Eliminar reserva</button>
                  </form>
              </div>
          </div>
          </dialog>
        </div>
      </article>
      {% endfor %}
      {% endif %}

      {% if not reservas_historial %}
        <p class="perfil-usuario__historial-vacio">No tienes ninguna reserva</p>
      {% endif %}
          </section>
        </div>
  </main>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/perfil.js') }}"></script>
{% endblock script %}
