{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block body %}
<div id="registro-fondo">
    <div id="registro-apartado-form">
        <h2>Registrarse</h2>
        <form>
            <label>Nombre</label>
            <input type="text">
            <label>Correo electrónico</label>
            <input type="email">
            <label>Número telefónico</label>
            <input type="number">
            <label>Contraseña</label>
            <input type="password">
            <label>Repetir contraseña</label>
            <input type="password">
            <button id="registro-boton" type="submit">Registrarse</button>
        </form>
        <div id="terminos-avisos">
            <p>
                Al hacer clic en Registrarse, aceptas nuestros Términos de servicio y Avisos de privacidad.
            </p>
        </div>
        <div id="register-con-cuenta">
            <p>
                ¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia sesión</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}