{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sobre_nosotros.css') }}">
{% endblock %}
{% block body %}
<main>
        <section class="presentacion">
            <h2>Conocenos</h2>
            <p></p>
            <p>Bienvenidos a Hotelisco.com, el sitio web donde encontraras la mejor opcion para hacer tu reserva ;)</p>
            <p>Nos comprometemos a ofrecer la mejor calidad de hoteleria de la capital a nuestros clientes, con la mejor atencion y los mejores servicios disponibles de todo el mercado</p>
        </section>
        <section class="historia">
            <h2>Nuestra Historia</h2>
            <p>Abierta por primera vez el 18 de noviembre de 2024, nuestra pagina esta dando sus primeros pasos en el mercado. Eso no quiere decir pequeños, Hotelisco.com esta dando pasos AGIGANTADOS! Gracias a nuestro equipo de trabajo, que incansablemente se ha empeñado en mejorar la calidad del sitio y sus servicios.</p>
        </section>
        <section class="mision-vision">
            <h2>Idea y Misión</h2>
            <ul>
                <li><strong>Idea:</strong> Crear una plataforma online que le permita a los usuarios de internet buscar, comparar y reservar habitaciones de los mejores hoteles dentro de Ciudad de Buenos Aires. Buscamos que tanto el sitio web como su app sean simples pero atractivas.</li>
                <br>
                <li><strong>Misión:</strong> Asegurarnos de que los usuarios en busca de hacer una reserva en un hotel, cuenten con la mejor pagina web del universo observable, los mejores hoteles y el mejor servicio de la República Argentina.</li>
            </ul>
        </section>
        <section class="valores">
            <h2>Valores</h2>
            <ul>
                <li><strong>Respeto:</strong> Valoramos la diversidad y la individualidad de nuestros huéspedes.</li>
                <br>
                <li><strong>Calidad:</strong> Nos esforzamos para que los usuarios que consuman nuestra web, sean los mas satisfechos de todo el internet.</li>
                <br>
                <li><strong>Sostenibilidad:</strong> Trabajamos para minimizar nuestro impacto ambiental, NINGUN HOTEL TE OFRECERA UNA BOMBILLA DE PLASTICO.</li>
                <br>
                <li><strong>Comunidad:</strong> Apoyamos a la comunidad local a través de proyectos y colaboraciones, para incrementar el turismo en la zona.</li>
            </ul>
        </section>
        <section class="equipo">
            <h2>Nuestro Equipo</h2>
            <ul>
                <li><strong>Julian Malnero Superno</strong>, asesor comercial.</li>
                <br>
                <li><strong>Tomas Kopal</strong>, desarrollo y distribución.</li>
                <br>
                <li><strong>Renzo Santiago Martin</strong>, marketing.</li>
                <br>
                <li><strong>Leonel Ignacio Martinez</strong>, con el mas alto nivel de investigación.</li>
                <br>
                <li><strong>Santiago Luis Alberto Nahuel Aguilar</strong>, operador y asistencia a los usuarios.</li>
                <br>
                <li><strong>Nahuel Mendoza</strong>, ciberseguridad.</li>
                <br>
                <li><strong>Sergio Moyano</strong>, accionista.</li>
            </ul>
        </section>
        <section class="certificaciones">
            <h2>Certificaciones y Reconocimientos</h2>
            <ul>
                <li>ISO 9001:2015: Certifica la calidad en la gestión de servicios hoteleros, garantizando estándares internacionales.</li>
                <br>
                <li>Certificación de Sostenibilidad Turística (CST): Reconoce la gestión ambiental y social responsable en hoteles.</li>
                <br>
                <li>Certificación de Calidad Turística (Q): Otorgada por el Instituto para la Calidad Turística Española (ICTE), garantiza la calidad en servicios y facilidades.</li>
                <br>
                <li>Certificacion de Calidad humoristica: The world best humor qualification.</li>
                <br>
                <li>Balón de oro: Ballon d'or</li>
            </ul>
        </section>
        <section class="contacto">
            <h2>¿Quieres saber más sobre nosotros?</h2>
            <p>¡Contáctanos!</p>
            <ul>
                <li>Correo electrónico: contacto@hotelisco.com</li>
                <li>Teléfono: 4444-555-78293</li>
                <li>Dirección: Av. Paseo Colón 777, C1063 Cdad. Autónoma de Buenos Aires</li>
            </ul>
            <p>Siguenos en nuestras redes sociales:</p>
            <ul>
                <li><a href="https://facebook.com">Facebook</a></li>
                <li><a href="https://instagram.com">Instagram</a></li>
                <li><a href="https://twitter.com">Twitter</a></li>
            </ul>
        </section>
    </main>

{% endblock %}
